<!DOCTYPE html>
<html>
<head>
  <title>Example Rails Challenge</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    "bootstrap/css/bootstrap.min", media: "all" %>
<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      #tbl-failed thead tr, #tbl-disputed thead tr, #tbl-successful thead tr  {background:#161616;color:#ffffff;}
      #tbl-failed tbody tr {background:#ff0000;}
      #tbl-disputed thead tr {background:#161616;color:#ffffff;}
      #tbl-disputed tbody tr {background:#ff5400;}
      #tbl-disputed thead tr {background:#161616;color:#ffffff;}
      /*#tbl-successful thead tr, 
      #tbl-successful th, #tbl-successful td {text-align: center;}*/
    </style>
  <%= stylesheet_link_tag    "bootstrap/css/bootstrap-responsive.min", media: "all" %>
  
  
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Example Rails Challenge</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/charges">Charges</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="container">

		<%= yield %>
		    	
    </div>



<%= javascript_include_tag "application" %>
<%= javascript_include_tag "bootstrap/js/bootstrap.min" %>
</body>
</html>
